{% extends "Hangman/base.html" %}
{% load static %}
    {% block title %} Hangman {% endblock%}
    {% block home %} <li class="nav-item active"><a class="nav-link" href="../" style="color: #0f7463;">Home</a></li> {% endblock %}
    {% block hangman %} <li class="nav-item"><a class="nav-link" href="#" style="color: #000000">Hangman</a></li>{% endblock %}
    {% block content %}
    <div class="home_banner_area" style="padding: 100px;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div align="center">
        <label class="primary_btn" style="width: 500px; font-size: 30px; "><a  style="color:black;" href="../hangman/game">Start the game!!!</a></label>
    </div>
        <br>
        <br>
        <br>
        
    </div>
    
    {% endblock %}